@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-orange: #FF6600;
  --white: #F8F8FF;
  --blue: #0B2275;
  --light-blue: #4A90E2;
  --green: #28A745;
  --red: #DC3545;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
}

.my-text-orange {
  color: var(--primary-orange);
}
.my-text-blue {
  color: var(--blue);
}
.my-text-light-blue {
  color: var(--light-blue);
}

.bs-light {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.e-toolbar-item.e-views.e-month.e-active-view .e-tbar-btn-text,
.e-toolbar-item.e-views.e-week.e-active-view .e-tbar-btn-text,
.e-header-cells.e-current-day {
  color: var(--primary-orange) !important;
}

.e-schedule .e-month-view .e-current-date .e-date-header {
  background: var(--primary-orange) !important;
}

.logoutBtn {
  background-color: #000;
  color: #fff;
  padding: 0.25rem;
  width: 100px;
  transition: 0.15s all ease-in-out;
}
.logoutBtn:hover {
  opacity: 0.8;
}
.clientActionTab {
  background-color: var(--blue);
  color: #fff;
  padding: 0.25rem;
  width: 180px;
  transition: 0.15s all ease-in-out;
}
.buttonBig {
  background-color: var(--blue);
  color: #fff;
  padding: 0.5rem 0.25rem;
  width: 100%;
  transition: 0.15s all ease-in-out;
}
.clientActionTab:hover, .buttonBig:hover {
  opacity: 0.8;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it appears above other content */
  display: none;
}

#spinnerComponent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  z-index: 3;
  background-color: #fff;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

#clientBookingDetails {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.noBorder {
  border: none !important;
}

.clientEvent {
  background: var(--green) !important;
}
.clientEventText {
  color: #fff !important;
}

.nonClientEvent {
  background: var(--red) !important;
}

.e-schedule .e-month-view .e-appointment {
  height: auto !important;
}