@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-orange: #FF6600;
  --white: #F8F8FF;
  --blue: #0B2275;
  --light-blue: #4A90E2;
  --green: #28A745;
  --red: #DC3545;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: var(--white);
}

.bottom-bar, .top-bar, .middle-content {
  max-width: 1024px !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-content-wrapper {
  max-width: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}
.main-content {
  max-width: 1024px !important;
}

.e-control,
.e-field,
.e-dlg-content {
  font-family: 'Montserrat', sans-serif !important;
}

.e-title-text {
  font-weight: bold !important;
}

.my-text-orange {
  color: var(--primary-orange);
}

.my-text-blue {
  color: var(--blue);
}

.my-text-light-blue {
  color: var(--light-blue);
}

.bs-light {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.e-toolbar-item.e-views.e-month.e-active-view .e-tbar-btn-text,
.e-toolbar-item.e-views.e-week.e-active-view .e-tbar-btn-text,
.e-header-cells.e-current-day {
  color: var(--primary-orange) !important;
}

.e-schedule .e-month-view .e-current-date .e-date-header {
  background: var(--primary-orange) !important;
}

.e-textlabel {
  font-weight: 550;
}

.reg-form {
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.logoutBtn {
  background-color: #000;
  color: #fff;
  padding: 0.25rem;
  width: 100px;
  transition: 0.15s all ease-in-out;
}

.logoutBtn:hover {
  opacity: 0.8;
}

.clientActionTab {
  background-color: var(--blue);
  color: #fff;
  padding: 0.25rem;
  width: 160px;
  transition: 0.15s all ease-in-out;
}

.buttonBig {
  background-color: var(--blue);
  color: #fff;
  padding: 0.5rem 0.25rem;
  width: 100%;
  transition: 0.15s all ease-in-out;
}

.clientActionTab:hover,
.buttonBig:hover {
  opacity: 0.8;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* Ensure it appears above other content */
  display: none;
}

#spinnerComponent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  z-index: 3;
  background-color: #fff;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

#clientBookingDetails {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.noBorder {
  border: none !important;
}

.clientEvent {
  background: var(--green) !important;
}

.clientEventText {
  color: #fff !important;
}

.nonClientEvent {
  background: var(--red) !important;
}

.e-schedule .e-month-view .e-appointment {
  height: auto !important;
}

/* ------ Menu Button Style ------- */

#menu-icon-btn {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  width: 1rem;
  cursor: pointer;
  top: 2.75rem;
  left: 2rem;
  z-index: 4;
}

#menu-btn-burger {
  width: 2rem;
  height: 2px;
  background: var(--blue);
  border-radius: 0.25rem;
  transition: 0.25s all ease-in-out;
  z-index: 4;
}

#menu-btn-burger::before,
#menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;
  background: var(--blue);
  border-radius: 0.25rem;
  transition: 0.25s all ease-in-out;
}

#menu-btn-burger::before {
  transform: translateY(-10px);
}

#menu-btn-burger::after {
  transform: translateY(10px);
}

/* Hover Animation */

#menu-icon-btn:hover>#menu-btn-burger,
#menu-icon-btn:hover>#menu-btn-burger::after,
#menu-icon-btn:hover>#menu-btn-burger::before {
  background: var(--primary-orange);
}

/* Animation to X */
#menu-icon-btn.open #menu-btn-burger {
  transform: translateX(-2rem);
  background: transparent;
}

#menu-icon-btn.open #menu-btn-burger::before {
  transform: rotate(45deg) translate(1.4rem, -1.4rem);
}

#menu-icon-btn.open #menu-btn-burger::after {
  transform: rotate(-45deg) translate(1.4rem, 1.4rem);
}

/* End of Animation to X */
/* ===================== */

#sideNavbar {
  position: fixed;
  padding: 2rem;
  height: 100vh;
  width: 300px;
  z-index: 3;
  background-color: var(--white);
}

.sidebar-tab {
  padding: 1rem;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.sidebar-tab:hover {
  background-color: var(--blue);
  color: var(--white);
}

.actionBtnsMobile {
  display: none;
  /* Hide by default */
  justify-content: space-between;
  width: 354px;
  position: absolute;
  bottom: 1rem;
}

.pageTab {
  max-width: 300px;
}

.tr-detail-comp {
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


/* ===================== Media Queries ================================ */

/* Media query for mobile devices */
@media (max-width: 768px) {
  .actionBtnsMobile {
    display: flex;
    /* Show the delete button on mobile */
  }

  .delete-button {
    color: #e3165b;
    padding: 10px 20px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;
  }

  .save-button {
    background-color: #e3165b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0.15rem;
    cursor: pointer;
  }

  .delete-button:hover,
  .save-button:hover {
    opacity: 0.8;
  }

  .e-form-container,
  .e-schedule-form {
    height: 100%;
  }

  input {
    font-size: 1rem !important;
  }

  #menu-icon-btn {
    justify-content: flex-start !important;
  }

  .pageTab {
    width: 75vw !important;
  }

  .e-title-text {
    margin-top: -6px;
  }
}

@media screen and (min-width: 767px) {

  #sideNavbar,
  #menu-icon-btn {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  #sideNavbar {
    display: none;
  }

  #bottomNavbar {
    display: none !important;
  }
}

@media screen and (max-width: 460px) {
  #_dialog_wrapper {
    margin: 0 2rem !important;
    border-radius: 0.25rem !important;
  }
}

/* ======== End of Media Queries ======== */